<form [formGroup]="form" (ngSubmit)="submit()">
    <table>
        <tr>
            <th>Name:</th>
            <td>
                <input type="text" formControlName="name">
            </td>
        </tr>
        <tr>
            <th>Title:</th>
            <td>
                <input type="text" formControlName="title">
            </td>
        </tr>
        <tr>
            <th>Comments:</th>
            <td>
                <textarea formControlName="comments" col="30" rows="5"></textarea>
            </td>
        </tr>
        <tr>
            <th>Multiple Images:</th>
            <td>
                <input type="file"
                    accept="image/*"
                    formControlName="images"
                    (change)="onFileChange($event)"
                    multiple
                    >
            </td>
        </tr>
        <tr>
            <button [routerLink]="['/']"> Cancel </button>
            <button type="submit" [disabled]="form.invalid"> Submit </button>
        </tr>

    </table>
</form>